.navbar {
    background-color:rgba(9,104,228,1);
}
.navbar a {
    color: #fafafa;
    padding-right: 20px;
    cursor: pointer;
    font-weight: 400;
    font-size: 15px;
    text-decoration: none;
  } .navbar a:hover {
    color: rgb(196, 196, 196);
  }

body {
    background-color: #f0f0f0;  
}

.breadcrumb {
    display: flex;
    flex-direction: row;
   
}

.breadcrumb ul{
    list-style: none;
    display: flex;
}

.breadcrumb a{
    font-size: 1rem;
    text-decoration: none;
    padding-left: 3px;
    padding-right: 3px;
}

.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "\000BB";
  }


.maindiv{
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-position: inside;
}

h2 {
    font-size: 2.5rem;
}
.articles {
    margin-top: 50px;
    height: auto;
    width: 90%;
    max-width: 850px;
    background-color: #fff;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-radius: 10px;
}

.articles h3 {
    padding-top: 20px;
}

.articles li {
    margin: 20px;
    text-decoration: underline;
    list-style: none;
}

.subdiv {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-bottom: 25px;
}

  
  .articles li::before {
    content: "\1F4D1";
    display: inline-block;
    width: 1em; 
    margin-right: 0.5em;
  }

a{
    text-decoration: none;
    color: #1d242b;
    font-size: 1.2rem;
    font-weight: 400;
    
}

a:hover{
    color: #0968E4;
}

.faq {
    width: 90%;
    max-width: 900px;
}


@media screen and (max-width: 768px) {
    .subdiv {
        width: 100%;
        padding-bottom: 25px;
    }
  }